<h2>Cadastrar</h2>

<form action="/register/save" method="POST">
<div>
    <label for="">Titulo:</label>
    <input type="text" name="title" placeholder="Digite o titulo: " id="title">
</div>

<div>
    <label for="">Número de Páginas:</label>
    <input type="number" name="pageqty" placeholder="Quantas páginas tem o livro?" id="pageqty">
</div>

<button type="submit">Cadastrar </button>

</form>